<article class="post">
  <div class="title">
    <% if @post.link.present? -%>
      <a href="<%= @post.link %>"><%= @post.title %></a>
    <% else -%>
      <%= @post.title %>
    <% end -%>
  </div>
  <div class="tagline" title="<%= @post.created_at %>">submitted <%= time_ago_in_words @post.created_at %> ago</div>
  <% if @post.text? -%>
    <section class="body"><%= @post.body %></section>
  <% end -%>
</article>
